@{
    ViewData["Title"] = "Preferences Saved";
}

<div class="container p-3 bg-white">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary">Preferences Saved</h2>
            <p>Your preferences have been successfully saved.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Go to Home</a>
        </div>
    </div>
</div>
